tensorflow==2.18.0
keras-cv==0.7.2
numpy==1.26.0
pillow>=9.0.0
pandas==2.2.2
scikit-learn==1.5.0
matplotlib==3.8.4
imageio==2.34.1
opencv-python==4.9.0.80
tqdm==4.66.4
albumentations==1.4.10
albucore==0.0.11
tfswin==4.1.1
